.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #dfd3d3a1;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form div {
    margin-bottom: 15px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}
.login-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #d7dcdf;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #5741a8;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
body{
    background-image: url(n2.jpg);
}